@font-face {
  font-family: IBM Plex Sans;
  src: url(../static/IBMPlexSans.ttf);
}

/* -- Variables -- */
:root {
  --bg-main: hsl(187 0% 10%);
  --bg-main-hover: hsl(187 0% 18%);
  --bg-secondary: hsl(187 0% 12%);
  --text-primary: hsl(187 0% 92%);
  --text-secondary: hsl(187 0% 82%);
  --text-tertiary: hsl(187 0% 72%);
}

[data-theme="light"] {
  --bg-main: hsl(187 0% 90%);
  --bg-main-hover: hsl(187 0% 82%);
  --bg-secondary: hsl(187 0% 76%);
  --text-primary: hsl(187 0% 8%);
  --text-secondary: hsl(187 0% 18%);
}

/* -- Custom scroll override -- */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: antiquewhite;
}

/* -- end scroll override -- */
